<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
<form>
<div class="form-group">
  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :employee_firstname %>
  </div>
</div>
  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :employee_lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :employee_email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :employee_address %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :employee_country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :employee_city %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.text_field :postalcode, id: :employee_postalcode %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :employee_password %>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.text_field :phonenumber, id: :employee_phonenumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </form>
</div>
<% end %>
