<p id="notice"><%= notice %></p>
<div id="banner">
  <div id="banner-content">
    <div id="logo">
      <%= image_tag "logo.png", size: "100x100" %>    
      <div id="signed_in">
          <% if signed_in? %>
            <div style="color: white; font-size: 17px; margin-bottom: 10px;" >
                You are signed in as: <%= current_user.email %>
              </div>
              <div style="text-align: right;">
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
              </div>
          <% else %>
              <%= link_to 'Sign in', sign_in_path %>
          <% end %>   
       </div>
    </div>
  </div>
</div>
<h1>Employees</h1>

<div id="search">
<%= form_tag employees_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
</div>

<table align="center" id="employeetable">
  <thead>
    <tr>
      <th class="rows">First Name</th>
      <th class="rows">Last Name</th>
      <th class="rows">Email</th>
      <th class="rows">Address</th>
      <th class="rows">Country</th>
      <th class="rows">City</th>
      <th class="rows">Postal Code</th>
      <th class="rows">Phone Number</th>
      <th colspan="3" class="rows">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td class="rows"><%= employee.firstname %></td>
        <td class="rows"><%= employee.lastname %></td>
        <td class="rows"><%= employee.email %></td>
        <td class="rows"><%= employee.address %></td>
        <td class="rows"><%= employee.country %></td>
        <td class="rows"><%= employee.city %></td>
        <td class="rows"><%= employee.postalcode %></td>
        <td class="rows"><%= employee.phonenumber %></td>
        <td class="rows"><%= link_to 'View', employee %></td>
        <td class="rows"><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td class="rows"><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%="Count to 10"%>
<br>
<% 11.times do |i| %>
  <%=i%>
<% end %>

<br>
<div id="newemployee">
  <%= link_to 'New Employee', new_employee_path, :style=>'color: white;' %>
</div>

<div id="availabilitybutton">
  <%= link_to 'Availability', availabilities_path, :style=>'color: white;' %>
</div>
