<header>
  <div id="banner">
    <div id="banner-content">
      <div id="logo">
        <%= image_tag "logo.png", size: "100x100" %>    
      </div>
    </div>
  </div>
</header>
<h1>Your form</h1>
<table align="center">
  <thead>
    <tr class="rows">
      <p id="notice" align="center"><%= notice %></p>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>First Name:</strong>
        </p>
        <td><strong><%= @employee.firstname %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Last Name:</strong>
        </p>
        <td><strong><%= @employee.lastname %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Email:</strong>
        </p>
        <td><strong><%= @employee.email %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Address:</strong>
        </p>
        <td><strong><%= @employee.address %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Country:</strong>
        </p>
        <td><strong><%= @employee.country %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>City:</strong>
        </p>
        <td><strong><%= @employee.city %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Postal Code:</strong>
        </p>
        <td><strong><%= @employee.postalcode %></strong></td>
      </th>
    </tr>
    <tr class="rows">
      <th>
        <p>
          <strong>Phone Number:</strong>
        </p>
        <td><strong><%= @employee.phonenumber %></strong></td>
      </th>
    </tr>
</table>
<div id="edit_back">
  <%= link_to 'Edit', edit_employee_path(@employee), :style => 'color: white;' %> |
  <%= link_to 'Back', employees_path, :style => 'color: white;' %>
</div>
