<!DOCTYPE html>
<html>
  <head>
    <title>Jake's Café</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
<<<<<<< HEAD

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
=======
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> 5c912a309521844578ef0952e478d4fc962a4a62
  </head>
<div id="banner">
  <div id="banner-content">
    <div id="logo">
      <%= image_tag "logo.png", size: "100x100" %>    
  </div>
</div>
  <body>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
